.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap;  */
  align-items: center;
  justify-content: right;
  /* font-size: calc(10px + 2vmin); */
  color: black;
  border-bottom: black;
}
