nav {
  display: flex;
  justify-content: flex-end;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1.5em 1.5em;
  gap:1em;
}

nav > div {
  /* display: inline-flexbox; */
  /* padding: 2em 2em; */
  cursor: pointer;
  padding: 0.5em 1em;
  white-space: nowarp;
}

.button {
  background-color: #a6d5fa;
  border: none;
  color: black;
  padding: .5em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}
