.project_grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  /* place-content: center; */
  gap: 2em;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em;
  /* place-items: center; */
}
